<?xml version="1.0" encoding="UTF-8"?>
<configuration>
	<appender class="ch.qos.logback.core.ConsoleAppender" name="consoleAppender">
		<encoder>
			<Pattern>.%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg %n</Pattern>
		</encoder>
	</appender>

	<root level="info">
		<appender-ref ref="consoleAppender"/>
	</root>

	<logger level="debug" name="mc.varun"/>
	<!--<logger level="debug" name="org.apache.kafka"/>-->
</configuration>
